# Server Configuration
PORT=5000
WS_PORT=3440
NODE_ENV=development

# WebSocket & CORS Configuration (Pisahkan dengan koma)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://server-iot.qbyte.web.id,https://iot-v2.qbyte.web.id,https://testopikmqtt.qbyte.web.id

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ews_iot_db
DB_CONNECTION_LIMIT=10

# JWT Authentication
JWT_SECRET=ews_super_secret_jwt_key_2026_qbyte_iot_mitigasi
JWT_EXPIRES_IN=7d

# ESP32 Security (Opsional: device token untuk validasi kiriman ESP32)
DEVICE_SECRET_KEY=ews_device_key_secret_2026
